.blog-nav{
    background: #F17153;
    background: -webkit-linear-gradient(#F17153,#F58D63,#F1AB53);
    background: -o-linear-gradient(#F17153,#F58D63,#F1AB53);
    background: -moz-linear-gradient(#F17153,#F58D63,#F1AB53);
    background: linear-gradient(#F17153,#F58D63,#F1AB53);
    padding: 0px;
    height:100%;
    width:17%;
    position: fixed;
    min-width: 170px;
    max-width: 220px;
}
/* a div container can warp and avoid height problem */
.avatar > img {
    margin:7% 20%;
    padding: 2%;
    border: 3px solid white;
    border-radius: 100%;
    height: 60%;
    width: 60%;
}
.nav-list{
    color: #fff;
    list-style: none;
    padding-left: 0%;
}
.nav-list::first-line{
    color: rgba(255,255,255,0.5)
}
.nav-list > h5{
    padding: 1.25% 22%;
}
.nav-list > li{
    padding: 1.2% 30%;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.nav-list > li:hover{
    background-color: rgba(255,255,255,0.2);
    border-left: 7px solid white;
    color: white;
    font-weight: bolder;
}
.nav-social{
    font-size:1.8em;
    width:100%;
    margin-left:12%;
    padding:0;
}
.nav-social > li{
    display:inline-block;
    list-style-type:none;
    border-radius: 7px;
    width:1.4em;
    height:1.4em;
    background-color:rgba(255,255,255,0.3);
    margin:0.3em;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.nav-social .fa{
    display: flex;
    margin:0.2em;
    justify-content: center;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.nav-social .fa-envelope{
    color: #999;
}
.nav-social  .fa-github{
    color: #999;
}
.nav-social a{
    text-decoration: none;
}
.nav-social > li:hover{
    background-color: rgba(255,255,255,0.6);
}

.nav-social > li:hover .fa-envelope{
    color: #F1AB53;
}
.nav-social > li:hover .fa-github{
    color: #624aba;
}
.blog-container{
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
}
.blog-nav-mapping{
    width:18%;
    min-width: 190px;
    max-width: 280px;
    -webkit-flex: 17;
    -ms-flex: 17;
    flex: 17;
}
.blog-content{
    width: 82%;
    -webkit-flex: 17;
    -ms-flex: 17;
    flex: 17;
    padding-right: 4%;
}
.post-meta{
    padding: 2.5% 0;
}
.post-meta > article {
    margin-bottom: 1.1em;
}
.post-title{
    text-align: center;
    font-style: initial;
}
.page-blog{
    margin:3rem 0;
}
.page-item:first-child .page-link-blog {
    margin-left: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}
.page-item:last-child .page-link-blog {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.page-item.active .page-link-blog {
    z-index: 2;
    color: #fff;
    background-color: #F17153;
    border-color: #F17153;
}

.page-item.disabled .page-link-blog {
    color: #636c72;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.page-link-blog {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #F58D63;
    background-color: #fff;
    border: 1px solid #ddd;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.page-link-blog:focus, .page-link-blog:hover {
    color: #fff;
    text-decoration: none;
    background-color: #F17153;
    border-color: #ddd;
}

.pagination-lg .page-link-blog {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
}

.pagination-lg .page-item:first-child .page-link-blog {
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link-blog {
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.pagination-sm .page-link-blog {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.pagination-sm .page-item:first-child .page-link-blog {
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link-blog {
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.post-tag{
    color:#636c72;
    font-size:1.02em;
    text-align: center;
}