---
layout: default
---

            {% for post in paginator.posts %}
            <section class="post-meta">
                <h1><strong>{{post.title}}</strong></h1>
				<div class="post-tag-left">
					<span class="fa fa-tag" aria-hidden="true">&nbsp{{post.category}}</span>
					&nbsp&nbsp&nbsp
					<span class="fa fa-calendar-o" aria-hidden="true">&nbsp{{ post.date | date_to_long_string }}</span>
				</div>
                <article>
                    {{post.meta}}
                </article>
                <a href="{{post.url}}"><button type="button" class="btn btn-outline-danger btn-sm">More</button></a>
            </section>
            <hr/>
            {% endfor %}
            <div class="page-blog"></div>
            <nav aria-label="Page navigation ">
                <ul class="pagination justify-content-center">
                    {% if paginator.previous_page %} 
                        <li class="page-item"><a class="page-link-blog" href="{{paginator.previous_page_path}}">
                    {% else %}
                        <li class="page-item disabled"><a class="page-link-blog">
                    {% endif %}Previous</a></li>
                    {% for num in (1..paginator.total_pages) %}
                        {% if paginator.page == num %}
                            <li class="page-item active"><a class="page-link-blog">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link-blog" 
                                {% if num == 1 %}
                                    href="{{site.url}}">
                                {% else %}
                                    href="{{site.url}}/blog/page{{num}}/">
                                {% endif %}{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if paginator.next_page %}
                        <li class="page-item"><a class="page-link-blog"  href="{{ paginator.next_page_path }}">
                    {% else %}
                        <li class="page-item disabled"><a class="page-link-blog">
                    {% endif %}Next</a></li>
                </ul>
            </nav>            