
            {% for post in site.posts %}
			{% if post.category == include.paraCate %}
            <section class="post-meta">
                <h1><strong>{{post.title}}</strong></h1>
				<div class="post-tag-left">
					<span class="fa fa-tag" aria-hidden="true">&nbsp{{post.category}}</span>
					&nbsp&nbsp&nbsp
					<span class="fa fa-calendar-o" aria-hidden="true">&nbsp{{ post.date | date_to_long_string }}</span>
				</div>
                <article>
                    {{post.meta}}
                </article>
                <a href="{{post.url}}"><button type="button" class="btn btn-outline-danger btn-sm">More</button></a>
            </section>
            <hr/>
			{% endif %}
            {% endfor %}
            