---
layout: default
title: "Asynchronous Object - Promise"
meta: "This post will focus on Promise, an object that use for asynchronous operations"
date: 2017-05-19
category: javascript
author: Jerry Guan
---
<section class="post-meta">
    {% include postTitle.html title=page.title date=page.date category=page.category author=page.author %}
    <div class="text-info">
        <h5>index</h5>
        <ul>
            <li><a href="#basic_usage_of_promise">Basic Usage of Promise</a></li>
            <li><a href="#understanding_promise">Understanding Promise</a></li>
            <li><a href="#references">References</a></li>
        </ul>
    </div>
    <h3 id="basic_usage_of_promise">Basic Usage of Promise</h3>
    <article>
        When you want to do asynchronous operations, like loading a picture from netowrk, 
        a <code>Promise</code> object is your tatget.
        <code>Promise</code> has three states: 
        <span class="text-warning">Pending</span>, <span class="text-success">Fulfilled</span>, and <span class="text-danger">Rejected</span>. 
        <ul>
            <li><span class="text-warning">Pending</span> state is the initial state wich is waiting for response.</li>
            <li><span class="text-success">Fulfilled</span> state indicates the asynchronous operation run success.</li>
            <li><span class="text-danger">Rejected</span> state is opposit from Fulfilled, means the operation falied.</li>
        </ul>
        Here is an image for illustration.
        <figure class="figure">
            <img src="{{site.url}}/img/post/promise.svg" class="figure-img img-fluid rounded" alt="promise"/>
            <figcaption class="figure-caption text-center">fig 1. basic promise</figcaption>
        </figure>
        <br/>

        Before any function call of <code>resolve</code> or <code>reject</code>, 
        A modifiled example code form <a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Promise">mozilla developer network</a>

        <pre class="js"><code>
    /******************************/            
    /* javascript for client site */
    /******************************/ 

    "use strict";

    // to show that setTimeout function will run after the script reach the end
    setTimeout(function(){
        console.log("setTimeout run after 0 second delay");
    },0)

    console.log("script start");

    var test = new Promise(function(resolve, reject){
        console.log("promise: enter construction");
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
            if (this.readyState == 4 &#38;&#38; this.status == 200) {
                console.log("promise: before resolve");
                var temp = this.responseText;
                resolve(temp);
                console.log("promise: after resolve");
            }
        }
        xhttp.open("GET", "http://localhost:8080/server.php", true);
        xhttp.send();
        console.log("promise: leave construction");
    })

    test.then(function(para){
        console.log("promise: then " + 'value: '+para);
    },function(para){
        console.log("promise: catch");
    })

    setTimeout(function(){
        console.log("setTimeout run after 2 second delay");
    },2000)

    setTimeout(function(){
        console.log("setTimeout run after 5 second delay");
    },5000)

    console.log("script end")
        </code></pre>
        <pre class='php'><code>
    /****************************/
    /* php for server site      */
    /* simulate network latency */
    /****************************/

    function jsPromsieTest(){
        sleep(3);
        echo "message return after 3 second called";
    }
    
    jsPromsieTest();
        </code></pre>
        The console log output result 
        <pre><code>
    script start
    promise: enter executor
    promise: leave executor
    script end
    setTimeout run after 0 second delay
    setTimeout run after 2 second delay
    promise: before resolve
    promise: after resolve
    promise: then value: message return after 3 second called
    setTimeout run after 5 second delay
        </code></pre>
    </article>

    <br/>
    <h3 id="understanding_promise">Understanding Promise</h3>
    <article>
        During the <code>Promise</code> construction (<code>new</code> a Promise Object), its constructor will set its attribute <code>[[PromiseState]]</code> to <span class="text-warning">pending</span>. 
        Then after few steps, its run the pass-in function (<span class="text-info">executor</span>). 
        <br/><br/>
        On the upper example will run 
        <pre class='js'><code>  
    console.log("promise: enter construction"); 
    ......
    console.log("promise: leave construction");</code></pre>
        <span class="text-info">executor</span> contains two parameters: <span class="text-success">resolve</span>, and <span class="text-danger">reject</span>, 
        and both parameters are functions object.
        <pre class='js'><code>
    ......
    test.then(function(para){
    ......</code></pre>
        <code>test.then()</code> trigger <code>PerformPromiseThen()</code> which will put the pass in function of <code>then </code> to <code>[[PromiseFulfillReactions]]</code> 
        until <code>server.php</code> pass back message (trigger <code>AsyncFunctionAwait()</code>)
        <br/><br/>
        As the sample ajax code above, when <code>server.php</code> has pass back message, it will call <span class="text-success">resolve()</span>, 
        then trigger <code>AsyncFunctionAwait()</code> to call <code>PerformPromiseThen()</code>, 
        <code>PerformPromiseThen()</code> will create <span class="text-info">PromiseReaction records</span>, 
        and put it to <code>PromiseJobs</code> queue (<code>microtasks</code> queue).
        <br/><br/>
        If there is no <span class="text-info">execution context</span> running and the <span class="text-info">execution context stack</span> is empty,
        <code>PromiseJobs</code> queue will pop <span class="text-info">PromiseReaction records</span> and run.
        In this case is perform function
        <pre class='js'><code>
    function(para){
        console.log("promise: then " + 'value: '+para);
    }</code></pre>
    </article>
    <br/>

    <h3 id="references">References</h3>
    <article>
        <ol>
            <li><a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Promise">Promise</a></li>
            <li><a href="https://jakearchibald.com/2015/tasks-microtasks-queues-and-schedules/">Task, Microtask, Queue and Schedules</a></li>
            <li><a href="https://html.spec.whatwg.org/multipage/webappapis.html#integration-with-the-javascript-job-queue">HTML Living Standard 8.1.3.7 Integration with the JavaScript job queue</a></li>
            <li><a href="https://tc39.github.io/ecma262/#sec-jobs-and-job-queues">ECMAScript 2018  8.4 Jobs and Job Queues</a></li>
            <li><a href="https://tc39.github.io/ecma262/#sec-promise-constructor">ECMAScript 2018  25.4 Promise Objects</a></li>
            <li><a href="https://developers.google.com/web/fundamentals/getting-started/primers/promises">JavaScript Promises: an Introduction</a></li>
            <li><a href="https://www.zhihu.com/question/36972010">Promise的队列与setTimeout的队列有何关联?</a></li>
        </ol>
    </article>
<section>
{% include postComment.html url=page.url %}